/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*mobile text*/
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
  }

html {
    background-color: black;
}

body {
    min-width:320px;  
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

[href="#top"] {
    position:fixed;
    bottom:0px;
    right: 0px;
    border-radius: 3px;
    border: 3px solid white;
  }

nav {
    text-transform: uppercase;
    font-weight: bold;
}

nav a {
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    font-size: 1.5em;
    text-decoration: none;
    color: white; 
}

nav a:hover {
    background-color: #007d7b;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
}

h1 {
    background-color: white;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #007d7b;   
    font-size: 3em;   
}

#about, #gallery {
    background-color: white;
}

#contact {
    color: white;
}

h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    padding: 20px;
}

#contact p {
    text-align: center;
}

p {
    font-size: 1.25em;
    line-height: 1.5rem;
    padding: 5px; 
}

img {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    max-width: 350px;
}

footer {
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-top: 35px;
}

footer p {
    text-align: center;
}

figure {
    display: flex;
    flex-flow: column;
    margin: auto;
}

figcaption {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    
}

figcaption, label, input, small {
    font-size: 1em;
}

:focus {
    border: 5px solid #007d7b;
}

/*form*/

form{
	width: 350px;
	margin: 16px auto;
}

input, label, select, textarea {
    display: block;
    width: 100%;
}

label{
    text-align: left;	
    text-transform: uppercase;
}

input, select, textarea {
	padding: 10px;
	font-size: 1rem;
	margin-bottom: 20px;
}

::placeholder {
    color: #007d7b;
    text-transform: uppercase;
    font-weight: bold;
}

#my-submit {
    background-color: #007d7b;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-top-left-radius: 5rem;
	font-size: 1.3rem;
	font-weight: bold;
    color: white;
    width: 13em;
    height: 2.5em;
    margin: 0 auto;
}

input:focus, select:focus, textarea:focus{
	outline:3px solid #007d7b;
}

#my-submit:hover {
    color: black;
}

/*media screen*/

@media screen and (min-width: 420px) {
    body {
        max-width: 420px;
    }
}

@media screen and (min-width: 836px) {
    body {
        max-width: 836px;
    }
  
    .column {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 

    h1 {
        text-align: left;
    }

    form{
        width: 650px;
        margin: 16px auto;
    }

    #my-submit {
        width: 22em;
        height: 2.2em;
        margin: 0 auto;
    }

    
   

}

@media screen and (min-width: 1100px) {

    body {
        max-width: 1100px;
    }

    .column {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    form{
        width: 950px;
        margin: 16px auto;
    }

    #my-submit {
        width: 30em;
        height: 2.2em;
        margin: 0 auto;
    }

    nav a {
        display: flex;
        justify-content: right;
        margin-left: 200px;
    }
}
